<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookworld</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header>
        <div class="title">
        <h1><span style="color:brown;">T</span>RIP PLANNER</h1>
    </div>
    </header>
    <marquee scrollamount="10"><h2>Welcome To Trip Planner: Your Travel Partner</h2></marquee>
    
    
    <div class="box">
        <h1>Paris</h1>
        <P>A famous fashion hub, it is also called the city of romance and love! From the beautiful architecture to the mouth-melting food, fashion to culture and romance, Paris has everything on its platter! Owing to its romantic side, Paris is a favourite honeymoon destination.</P>
        <div class="btn1">
            <button>View Details</button>
        </div>
        <div class="btn2">
            <button>Book Tickets</button>
        </div>
    </div>
    <div class="box">
        <h1>Dubai</h1>
        <p>Aside from the beautiful weather and gorgeous beaches, Dubai has an impressive infrastructure and a plethora of stunning buildings. The city is home to the world's largest malls, the highest tower on the planet and some of the most exclusive restaurants, hotels and nightspots around.</p>
        <div class="btn1">
            <button>View Details</button>
        </div>
        <div class="btn2">
            <button>Book Tickets</button>
        </div>
    </div>
    <div class="box">
        <h1>Thailand</h1>
        <p>With thousands of temples, tons of gorgeous scenery from north to south, and glistening beaches with towering karst islets, the unique landscape is what has made Thailand so famous worldwide.</p>
        <div class="btn1">
            <button>View Details</button>
        </div>
        <div class="btn2">
            <button>Book Tickets</button>
        </div>
    </div>
    
        <div class="box">
            <h1>Sri Lanka</h1>
            <p>If golden beaches, rising waves, misty mountains, mighty elephants, stealthy leopards, giant whales, a majestic past, lovely tea and warm smiles could sum up a country, that would be Sri Lanka.</p>
            <div class="btn1">
                <button>View Details</button>
            </div>
            <div class="btn2">
                <button>Book Tickets</button>
            </div>
        </div>
        <div class="box">
            <h1>Maldives</h1>
            <p>The Maldives are known as “the tropical paradise” for reasons such as its beauty. This tropical country has separated islands and islands are surrounded by its own lagoon. Each island has pure white sandy beaches. The sea covers 99% of the Maldives and it is where you can see beautiful fishes and corals.</p>
            <div class="btn1">
                <button>View Details</button>
            </div>
            <div class="btn2">
                <button>Book Tickets</button>
            </div>
        </div>
        <div class="box">
            <h1>Singapore</h1>
            <p>There are many different things to see and do in the city, from old places like the Chinese Cultural Centre and the Sultan Mosque to modern buildings like the Marina Bay Sands and the Gardens by the Bay. There are many beautiful buildings in Singapore.</p>
            <div class="btn1">
                <button>View Details</button>
            </div>
            <div class="btn2">
                <button>Book Tickets</button>
            </div>
        </div>
        <hr>
        <h2>Thank You<br>HAPPY JOURNEY</h2>
        <BR>

   
    
   
    
     
</body>

</html>